* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

html {
    scroll-behavior: smooth;
}

.caixa-principal {
    height: 100vh;
    width: 100%;
    background-image: url(./assets/background.png);
    background-color: #191919;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1.875rem;
    padding-left: 1.875rem;
    padding-right: 1.875rem;
}

.portfolio {
    color: #e2b9c6;
    font-size: 2.5rem;
}

.portfolio span {
    color: #9C306A
}

li {
    color: #ffffff;
    list-style: none;
    display: inline-block;
    font-size: 1.563rem;
    margin-right: 1.875rem;
    cursor: pointer;
}

.link-menu {
    text-decoration: none;
    color: #ffffff;
}

.link-menu:hover {
    color: #83040B;
}

.link-menu:active {
    opacity: .5;
}

.nome-e-cargo {
    position: absolute;
    top: 50%;
    left: 7%;
}

h1 {
    color: #ffffff;
    font-size: 4.688rem;
}

h1 span {
    color: #83040B;
}

.nome-e-cargo h3 {
    color: #e2b9c6;
    font-size: 1.875rem;
    margin-top: 0.6rem;
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    padding: 3.75rem 0;
    background-color: #2D2D2B;
}

section img {
    height: 25rem;
    border-radius: 100%;
    border: 0.125rem solid #83040B;
}

section div h2 {
    font-size: 3.5rem;
    color: #e2b9c6;
}

section div p {
    color: #ffffff;
    font-size: 1.5rem;
    line-height: 2.3rem;
    margin-top: 0.938rem;
    margin-bottom: 3.75rem;
}

section div p span {
    color: #e2b9c6;
}

section div button {
    color: #ffffff;
    background: #83040B;
    height: 3.125rem;
    width: 11.25rem;
    font-size: 1.125rem;
    border: none;
    border-radius: 1.625rem;
    cursor: pointer;
}

section div button:hover {
    background-color: #191919;
    border: 0.188rem solid #83040B;
    transition: 0.5s;
}

.projetos {
    background-color: #191919;
    padding-top: 3.125rem;
    padding-bottom: 6.25rem;
}

.projetos h2 {
    font-size: 3.5rem;
    text-align: center;
    color: #e2b9c6;
    text-shadow: 0.1em 0.1em 0.3em #000000;
}

.card {
    background-color: #000000;
    height: 22.813rem;
    width: 20.938rem;
    border-radius: 1.25rem;
    padding: 1.875rem 2.813rem;
    text-align: center;
    margin-bottom: 4rem;
}

.card img {
    height: 6.25rem;
}

.card h5 {
    color: #ffffff;
    font-size: 1.5rem;
}

.card p {
    color: #e2b9c6;
    font-size: 1.2rem;
    line-height: 1.6rem;
    margin-top: 1.25rem;
    margin-bottom: 2.5rem;
}

.card a {
    background-color: #83040B;
    color: #ffffff;
    padding: 0.625rem 1.25rem;
    border-radius: 1.563rem;
    cursor: pointer;
    transition: 0.5s;
    text-decoration: none;
}

.card a:hover {
    background-color: transparent;
    border: 0.125rem solid #83040B;
}

.card-projetos {
    display: flex;
    justify-content: space-around;
}

footer {
    background-color: #000;
    padding-top: 6.25rem;
    padding-bottom: 7.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer h5 {
    color: #ffffff;
    font-size: 1.875rem;
}

footer h5 span {
    color: #83040B;
}

footer p {
    color: #e2b9c6;
    font-size: 1.250rem;
    margin-top: 0.875rem;
    margin-bottom: 1.875rem;
}

.feito-com-amor span {
    color: #83040B;
}

.social {
    display: flex;
    gap: 1.25rem;
}

.social img {
    height: 1.5rem;
    border-radius: 50%;
}

.social a {
    background-color: #90d2dc;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3.125rem;
    width: 3.125rem;
    cursor: pointer;
}

.social a:hover {
    transform: scale(1.3);
    transition: 0.5s;
}

@media screen and (max-width:900px) {

    .portfolio {
        font-size: 1.5rem;
        text-align: center;
    }

    .nome-e-cargo {
        margin-left: 0.7rem;
    }

    .nome-e-cargo h1 {
        font-size: 3rem;
    }

    .nome-e-cargo h3 {
        font-size: 1.5rem;
        margin-top: 0.5rem;
    }

    nav {
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: center;
        gap: 3rem;
    }

    ul {
        text-align: end;
        display: grid;
    }

    li {
        margin-top: 1.3rem;
        font-size: 1.4rem;
    }

    .caixa-principal {
        display: block;
    }

    section {
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 3rem;
    }

    section div h2 {
        font-size: 1.9rem;
        text-align: center;
    }

    section div button {
        margin-left: 3.0rem;
    }

    section div p {
        text-align: center;
        font-size: 1.3rem;
        margin-bottom: 2.0rem;
    }

    section img {
        height: 12rem;
        border-radius: 100%;
    }

    .projetos h2 {
        font-size: 1.9rem;
    }

    .card-projetos {
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
    }
}